{% extends 'ProjectBody/Body.html' %}
{% load static %}
{% block frmodal %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text">
                    <ul class="list-inline">
                        <li class="list-inline-item"> <i class="fa fa-user fa-2x"></i></li>
                        <li class="list-inline-item">
                            <h3>  <strong class="card-title">Registro</strong>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <form method="POST" action="{{ ruta }}" onsubmit="return todocedula()" enctype="multipart/form-data">

                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="action" value="{{ action }}">
                    <input type="hidden" id="chancontr" name="chancontr" value="">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ empleado }}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group has-success">
                                        <label for="username" class="control-label mb-1">Nombre de Usuario:</label>
                                        <input id="username" name="username" type="text" {% if action == 'edit' %} disabled {% endif %}
                                               style="background-color: #f9f9f9;" onKeyPress="return sololetrasynumeros(event)" class="form-control valid" data-val="true"
                                               data-val-required="Please enter the name on card"
                                               autocomplete="cc-name" aria-required="true"
                                               aria-invalid="false" aria-describedby="cc-name"
                                               minlength="4" maxlength="30" value ='{{ empleado.username }}' required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-group has-success">
                                        <label for="first_name" class="control-label mb-1">Nombres:</label>
                                        <input id="first_name" name="first_name" type="text"
                                               style="background-color: #f9f9f9;" onKeyPress="return sololetras(event)" class="form-control valid" data-val="true"
                                               data-val-required="Please enter the name on card"
                                               autocomplete="cc-name" aria-required="true"
                                               aria-invalid="false" aria-describedby="cc-name"
                                               minlength="4" maxlength="30" value ='{{ empleado.first_name }}' required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div></div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="last_name" class="control-label mb-1">Apellidos:</label>
                                        <input type="text" class="form-control " name="last_name" minlength="7" maxlength="60" onKeyPress="return sololetras(event)"
                                               id="last_name" value ='{{ empleado.last_name }}' required="true" >
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group has-success">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <label for="password" class="control-label mb-1">Contraseña:</label>
                                                <input  id="password" name="password" type="password"
                                                       class="form-control"
                                                       value ='00000000'
                                                       minlength="6" maxlength="16" required="true"  readonly onfocus="this.removeAttribute('readonly');">
                                            </li>
                                            <li class="list-inline-item">
                                                <h3>  <strong class="hint--bottom-left"
                                                              aria-label="Ver">
                                                    <span id="clipassword" class="fa fa-eye fa-1x"></span></strong>
                                                </h3>
                                            </li>
                                            <li class="list-inline-item">
                                                <button type="button"  id="changecontra" class="btn btn-info btn-md">
                                                    <i class="fa fa-key"></i>
                                                </button>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group has-success">
                                        <label for="email" class="control-label mb-1">Email:</label>
                                        <input id="email" name="email" type="email"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name" value ='{{ empleado.email }}' minlength="8" maxlength="60" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                            </div>




                        </div><!--/.col-->
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ ruta }}" id="btnSalir" class="btn btn-danger"> <i class="fa fa-remove"> Cancelar</i>
                    </a>
                    <button type="submit" id="Dato" class="btn btn-success">
                        <i class="fa fa-save"> Guardar</i></button>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block jscript %}
    <script type='text/javascript'>
        $('.chosen-select').chosen();
        $('#Dato').click(function(){
            $("input").prop('disabled', false);
        });
        $("#password").prop('disabled', true);

        $('#changecontra').click(function(){
            document.getElementById('password').value = ''
            document.getElementById('chancontr').value = '1'
            $("#password").prop('disabled', false);
            return false;

        });
        $("#clipassword").mouseleave(function(e){
            document.getElementById('password').type = 'password'

        });
        $('#clipassword').mouseenter(function (event) {
            document.getElementById('password').type = 'text'

        });


        $("#username").change(function(){
            alert('hola')
            if ('add'=='{{ action }}'){
                $.ajax({
                    type:"GET",
                    url: '{{ ruta }}',
                    data: {
                        'action':'verificar','username':$('#username').val()
                    },
                    dataType: 'json',
                    success: function (data) {

                        if (data.resp == true) {
                            document.getElementById("username").style.borderColor = "blue";
                            return true;
                        } else {
                            document.getElementById("username").focus();
                            Swal.fire({
                                title: 'Información!',
                                icon: 'info',
                                text: 'Error nombre de usuario ya existe',
                                html:'Error nombre de usuario: '+ $('#username').val()+'  ya existe',
                                showCloseButton: true,
                                confirmButtonColor: "#33ECFF",
                                confirmButtonText: 'OK',
                                imageWidth: 400,
                                imageHeight: 200,
                                imageAlt: 'Custom image',
                            });
                            document.getElementById("username").style.borderColor = "red";
                            document.getElementById("username").value= "";

                            return  false;
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}