{% extends 'ProjectBody/Body.html' %}
{% load static %}
{% block contenid %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Todos los productos</h5>

                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <button type="button" class="btn btn-sm bg-gradient-success mb-0" id="btn-registrar">
                                    <i class="fas fa-plus pe-2"></i> Agregar Pedidos
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-responsive table-striped"
                                       id="websendeos" style="white-space: pre-line;">
                                    <thead>
                                    <tr class="info">
                                        <th>Caracteristica</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th colspan="3" class="col-xs-1">Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tdetalle">
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-8 col-lg-offset-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <strong class="panel-title">Pedido</strong>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-responsive table-striped"
                                                   style="display: block;">
                                                <tbody>

                                                <tr>
                                                    <td class="text-right">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3" for="id_msubtotal">SUBTOTAL:&#36;</label>
                                                            <div class="col-md-9">
                                                                <input id="id_msubtotal" readonly="" class="form-control"
                                                                       type="text" placeholder="0.00" style="font-weight: bold" >
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3" for="id_miva">IVA:&#36;</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control " name="id_miva" maxlength="40" readonly="" style="font-weight: bold; background: white;"
                                                                       id="id_miva"  required="true" placeholder="12%" >
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3" for="id_mtotal">Total a Pagar:&#36;</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control " name="id_mtotal" maxlength="40" readonly="" style="font-weight: bold; background: white;"
                                                                       id="id_mtotal"  required="true" placeholder="0.00" >
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table table-flush" id="datatable-search">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Product</th>
                                        <th>Tipo de Categoría</th>
                                        <th>Precio</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for art in articulo %}
                                        <tr>
                                            <td>
                                                <div class="d-flex">
                                                    <div class="form-check my-auto">
                                                        <input class="form-check-input enviaotrocliente" type="checkbox" data-json='{"descripcion":"{{ art.m_marca.nombre }} {{ art.m_tipocategoria.descripcion }} {{ art.nombre }}","id":"{{ art.id }}"}' name="pedido{{ art.id }}">
                                                    </div>
                                                    <a href="/media/{{ art.image }}" data-lightbox="mygallery" data-title="{{ art.nombre }}">
                                                        <img class="w-10 ms-3" style="height: 90%;" src="/media/{{ art.image }}" alt="hoodie">
                                                        <h6 class="ms-3 my-auto">{{ art.nombre }}</h6>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="text-sm font-weight-normal">{{ art.m_marca.nombre }} {{ art.m_tipocategoria.descripcion }} {{ art.nombre }}</td>
                                            <td class="text-sm font-weight-normal">${{ art.precio}}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="100"> <center>No existen registros</center></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jscript %}
    <script>
        var lista_clientescuentas =[];
        $(".enviaotrocliente").click(function(){
            var data = $(this).data('json'),descripcion = data.descripcion, id = data.id;
            if($(this).prop("checked") == true){
                var desc = $(this).parents('tr').children('td').eq(2).html();
                desc=desc.replace(',', '.').replace('$', '');
                var item = new Object();
                item.id =id;
                item.precio = desc;
                item.descripcion=descripcion;
                item.cantidad =1;
                item.total=desc;
                if (!existe(item)) {
                    lista_clientescuentas.push(item);
                    actualizar();
                    presentar();
                }
            }
            else if($(this).prop("checked") == false){
                for (var i in lista_clientescuentas) {
                    if (lista_clientescuentas[i].id == id) {
                        lista_clientescuentas.splice(i,1);
                        actualizar();
                        presentar();
                    }
                }
            }

        });
        $('#btn-registrar').click(function(){
            alert('hola');
        });
     function restar(id,precio) {
                for (var i in lista_clientescuentas) {
                    if (id == lista_clientescuentas[i].id) {
                        if(lista_clientescuentas[i].cantidad >1){
                            lista_clientescuentas[i].cantidad -=1;
                            lista_clientescuentas[i].precio = precio;
                            lista_clientescuentas[i].total = lista_clientescuentas[i].cantidad *precio;
                            actualizar();
                            presentar();
                        }
                    }
                }
            }
        function sumar(id,precio) {
            for (var i in lista_clientescuentas) {
                if (id == lista_clientescuentas[i].id) {
                    if(lista_clientescuentas[i].cantidad >0){
                        lista_clientescuentas[i].cantidad +=1;
                        lista_clientescuentas[i].precio = precio;
                        lista_clientescuentas[i].total = lista_clientescuentas[i].cantidad *precio;
                        actualizar();
                        presentar();
                    }

                }
            }
        }
        function actualizar() {
            var subtotal = 0;
            var ivaa =0.12;
            var descuento = 0;
            var _total = 0;
            for (var item of lista_clientescuentas) {
                subtotal += item.total-(item.total*ivaa);
                _total +=  parseFloat(item.total);
            }
            $('#id_msubtotal').val(subtotal.toFixed(2));
            $('#id_mtotal').val(_total.toFixed(2));
        }
        function eliminar(id) {
            for (var i in lista_clientescuentas) {
                if (lista_clientescuentas[i].id == id) {
                    lista_clientescuentas.splice(i,1);
                    actualizar();
                    presentar();
                    return true;
                }
            }
            return false;
        }
        function  existe(item) {
            for (var i in lista_clientescuentas) {
                if (item.id == lista_clientescuentas[i].id) {
                    return true;
                }
            }
            return false;
        }

        function  presentar() {
            $('#tdetalle').html('');
            for (var item of lista_clientescuentas){
                var tr = '<tr>';
                tr += '<td id="des">' + item.descripcion + '</td>';
                tr += '<td>$' + item.precio + '</td>';
                tr += '<td>' + item.cantidad + '</td>';
                tr += '<td>$' + item.total + '</td>';
                tr +='<td class=""><button onclick="restar('+item.id+ ','+item.precio +')"  title="Restar"class="btn btn-warning"><i class="fa fa-minus"></i> </button></td>';
                tr +='<td class=""><button onclick="sumar('+ item.id +','+item.precio +')"  title="Sumar +1"class="btn btn-success"><i class="fa fa-plus"></i> </button></td>';
                tr +='<td class=""><button onclick="eliminar('+ item.id +')"  title="Eliminar"class="btn btn-danger"><i class="fa fa-trash-o"></i> </button></td>';
                tr += '</tr>';
                $('#tdetalle').append(tr);
            }
        }
        if (document.getElementById('products-list')) {
            const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
                searchable: true,
                fixedHeight: false,
                perPage: 7
            });
            document.querySelectorAll(".export").forEach(function(el) {
                el.addEventListener("click", function(e) {
                    var type = el.dataset.type;

                    var data = {
                        type: type,
                        filename: "soft-ui-" + type,
                    };

                    if (type === "csv") {
                        data.columnDelimiter = "|";
                    }

                    dataTableSearch.export(data);
                });
            });
        };
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

{% endblock %}