{% extends 'ProjectBody/Body.html' %}
{% block contenid %}
    <div class="row mt-4">
        <div class="col-12">
           <div class="col-lg-6">
                    <a style="border-radius: 0px" href="#" rel="action" data-json='{"action": "add","id":""}'
                       class="btn btn-success sbox">
                        <i class="fa fa-plus"></i>
                        Nuevo Registro
                    </a>
                </div>
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h5 class="mb-0">Datatable Search</h5>
                    <p class="text-sm mb-0">
                        A lightweight, extendable, dependency-free javascript HTML table plugin.
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead class="thead-light">
                        <tr>
                            <th>Código</th>
                            <th>Proveedor</th>
                            <th>Fecha de Compra</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Acción</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for compra in compras %}
                            <tr>
                                <td class="text-sm font-weight-normal">{{ compra.id }}</td>
                                <td class="text-sm font-weight-normal">{{ compra.m_proveedor.nombre }}</td>
                                <td class="text-sm font-weight-normal">Edinburgh</td>
                                <td class="text-sm font-weight-normal">61</td>
                                <td class="text-sm font-weight-normal">2011/04/25</td>
                                <td class="text-sm font-weight-normal">$320,800</td>
                                <td class="text-sm font-weight-normal">
                                    <br>
                                    <ul class="d-md-inline-flex list-inline">
                                        <li><a class="btn bg-gradient-info" href="#" rel="action" data-json='{"action":"edit","id":"{{ compra.id }}"}'><i class="fa fa-edit"></i> Editar</a></li>
                                        <li><a class="btn bg-gradient-danger" href="#modal" data-bs-toggle="modal" data-bs-target="#myModal" rel="action" data-json='{"action":"elim","id":"{{ compra.id }}"}'><i class="fa fa-trash-o"></i> Eliminar</a></li>
                                    </ul></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100"> <center>No existen registros</center></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block frmodal %}
    <!-- inicio formulario Modal para Eliminar -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form name="frmEliminar" id="frmEliminar" method="POST" action="{{ ruta }}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
    <input type="hidden" name="id" id="id" value="">
                        <input type="hidden" name="action" value="elim">
                        <label>Cliente:</label>
                        <span id="descripcion"></span><br>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-gradient-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Final Formulario Modal-->
{% endblock %}
{% block jscript %}
    <script>

        $(function () {
            {% if messages %}
            {% endif %}
            {% for message in messages %}
                swal('Información!', '{{ message }}');
            {% endfor %}
            $('#contenedor').on('click', 'a[rel="action"]', function () {
                var data = $(this).data('json'),
                    action = data.action,
                    id = data.id;
                if (action == 'elim') {
                    var desc = $(this).parents('tr').children('td').eq(0).html();
                    $('#descripcion').html(desc);
                    $('#frmEliminar #id').val(id);
                    $('#myModal').modal({backdrop: 'static', keyboard: false,show:true,remote:false});
                    return
                }
                window.location = '{{ ruta }}?action=' + action + '&id=' + id;
            });
        });
    </script>
{% endblock %}