{% extends 'ProjectBody/Body.html' %}
{% load static %}
{% block contenid %}
    <div class="row mt-4">
        <div class="col-12">

            <div class="card">
                <!-- Card header -->
                <div class="card">

                    <div class="card-body">
                        <form  method="POST" action="{{ ruta }}" onsubmit="return todo()" enctype="multipart/form-data">
                                            <div class="card-header d-flex align-items-center border-bottom py-3">
                        <div class="text-center ms-auto">
                            <h5 class="mb-0">Productos</h5>
                            <p class="text-sm mb-0">
                                Ingreso de productos
                            </p>
                        </div>
                        <div class="text-end ms-auto">

                            <button type="button" class="btn btn-sm bg-gradient-primary mb-0"  id="cancelar" onclick="window.location='{{ ruta }}'">
                                <i class="fa fa-undo"></i> Volver
                            </button>
                            <button type="submit" class="btn btn-sm bg-gradient-success mb-0" id="btn-registrar">
                                <i class="fas fa-plus pe-2"></i> Registar
                            </button>
                        </div>
                    </div>
                    {% csrf_token %}
                           <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="action" value="{{ action }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="m_ubicacion" class="control-label mb-1">Ubicación:</label>
                                        <select class="form-control chosen-select" name="m_ubicacion" id="m_ubicacion"   data-placeholder="Ubicación">
                                            {% if action == 'edit' %}
                                                <option value="{{ articulo.m_ubicacion.id }}">Ubicación seleccionada: {{ articulo.m_ubicacion.descripcion }}</option>
                                            {% elif action == 'elim' %}

                                                <option value="{{ articulo.m_ubicacion.id }}" selected disabled>{{ articulo.m_ubicacion.descripcion }}</option>
                                            {% elif action == 'ver' %}
                                                <option value="{{ articulo.m_ubicacion.id }}" selected disabled>{{ articulo.m_ubicacion.descripcion }}</option>
                                            {% elif action == 'add' %}

                                                <option value="" selected disabled hidden>Seleccione una Ubicación</option>
                                            {% endif %}
                                            {% if action == 'add' or action == 'edit' %}
                                                {% for g in ubicacion %}
                                                    <option value="{{ g.id }}">{{ g.descripcion}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="m_tipocategoria" class="control-label mb-1">Tipo de Categoria:</label>
                                        <select class="form-control chosen-select" name="m_tipocategoria" id="m_tipocategoria" placeholder="Tipo de Categoria">
                                            {% if action == 'edit' %}
                                                <option value="{{ articulo.m_tipocategoria.id }}">Tipo de Categoria seleccionado: {{ articulo.m_tipocategoria.descripcion }}</option>
                                            {% elif action == 'elim' %}

                                                <option value="{{ articulo.m_tipocategoria.id }}" selected disabled>{{ articulo.m_tipocategoria.descripcion }}</option>
                                            {% elif action == 'ver' %}
                                                <option value="{{ articulo.m_tipocategoria.id }}" selected disabled>{{ articulo.m_tipocategoria.descripcion }}</option>
                                            {% elif action == 'add' %}

                                                <option value="" selected disabled hidden>Seleccione una Tipo de Categoria</option>
                                            {% endif %}
                                            {% if action == 'add' or action == 'edit' %}
                                                {% for g in m_tipocategoria %}
                                                    <option value="{{ g.id }}">{{ g.descripcion }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label for="m_marca" class="control-label mb-1">Marca:</label>
                                        <select class="form-control chosen-select" name="m_marca" id="m_marca"   data-placeholder="Marca">
                                            {% if action == 'edit' %}
                                                <option value="{{ articulo.m_marca.id }}">Sucursal seleccionado: {{ articulo.m_marca.nombre }}</option>
                                            {% elif action == 'elim' %}

                                                <option value="{{ articulo.m_marca.id }}" selected disabled>{{ articulo.m_marca.nombre }}</option>
                                            {% elif action == 'ver' %}
                                                <option value="{{ articulo.m_marca.id }}" selected disabled>{{ articulo.m_marca.nombre }}</option>
                                            {% elif action == 'add' %}

                                                <option value="" selected disabled hidden>Seleccione una sucursal</option>
                                            {% endif %}
                                            {% if action == 'add' or action == 'edit' %}
                                                {% for g in m_marca %}
                                                    <option value="{{ g.id }}">{{ g.nombre }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group has-success">
                                            <label for="nombre" class="control-label mb-1">Nombre:</label>
                                            <input id="nombre" name="nombre" type="text" class="form-control valid" data-val="true"
                                               data-val-required="Please enter the name on card" placeholder="Nombre" autocomplete="cc-name" aria-required="true"
                                               aria-invalid="false" aria-describedby="cc-name"
                                               minlength="4" maxlength="50" value ='{{ articulo.nombre }}' required="true">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                 <div class="col-md-6">
                                   <div class="form-group has-success">
                                        <label for="descripcion" class="control-label mb-1">Descripción:</label>
                                        <input id="descripcion" name="descripcion" type="text"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name" value ='{{ articulo.descripcion }}' placeholder="Descripción" minlength="4" maxlength="60" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                      <div class="form-group has-success">
                                        <label for="stock" class="control-label mb-1">Stock:</label>
                                        <input id="stock" name="stock" type="number"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name"  {% if articulo.stock %} value ='{{ articulo.stock }}' {% else %}
                                               value ='0'
                                        {% endif %}  max="100000"  min="0" minlength="4" maxlength="50" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                      <div class="form-group has-success">
                                        <label for="stockmin" class="control-label mb-1">Stock mínimo:</label>
                                        <input id="stockmin" name="stockmin" type="number"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name"  {% if articulo.stockmin %} value ='{{ articulo.stockmin }}' {% else %}
                                               value ='0'
                                        {% endif %}  max="100000"  min="0" minlength="4" maxlength="50" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                      <div class="form-group has-success">
                                        <label for="stockmax" class="control-label mb-1">Stock máximo:</label>
                                        <input id="stockmax" name="stockmax" type="number"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name"  {% if articulo.stockmax %} value ='{{ articulo.stockmax }}' {% else %}
                                               value ='0'
                                        {% endif %}  max="100000"  min="0" minlength="4" maxlength="50" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                               <div class="col-md-6">
                                      <div class="form-group has-success">
                                        <label for="puntoroden" class="control-label mb-1">Punto de orden:</label>
                                        <input id="puntoroden" name="puntoroden" type="number"
                                               class="form-control cc-name valid" data-val="true"
                                               autocomplete="cc-name"  {% if articulo.puntoroden %} value ='{{ articulo.puntoroden }}' {% else %}
                                               value ='0'
                                        {% endif %}  max="100000"  min="0" minlength="4" maxlength="50" required="true">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                               <div class="col-6">
                                    <div class="form-group">
                                        <label for="promocion" class="control-label mb-1">Promoción (%):</label>
                                        <input type="text" class="form-control " name="promocion" minlength="1" maxlength="10"
                                               id="promocion"   {% if articulo.promocion %} value ='{{ articulo.promocion }}' {% else %}
                                               value ='0'
                                        {% endif %} min="0" max="100" required="true" >
                                    </div>
                                </div>
                               <div class="col-6">
                                    <div class="form-group">
                                        <label for="precio" class="control-label mb-1">Precio ($):</label>
                                        <input type="text" class="form-control" name="precio" minlength="1" maxlength="10"
                                               id="precio"   {% if articulo.precio %} value ='{{ articulo.precio }}' {% else %}
                                               value ='0'
                                        {% endif %} min="0" max="100" required="true" >
                                    </div>
                                </div>



                            </div>
                        <div class="form-group">
                                <label for="image" class="control-label mb-1">Imagen:</label>
                                <input type="file" accept="image/*" class="form-control imagejs"  name="image"
                                       id="imagesucursal" value =''  {% if  action == 'add' %} required="true" {% endif %}>
                                <input  type="text" class="form-control text-center"
                                        disabled
                                        value ='{{ articulo.image }}'>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jscript %}
    <script type='text/javascript'>
        $('#precio').val($('#precio').val().replace(',', '.'));
        $('#promocion').val($('#promocion').val().replace(',', '.'));
   $("#precio").numeric({
        negative: false,
        decimalPlaces: 2
    });

   $("#promocion").numeric({
        negative: false,
        decimalPlaces: 2
    });


        $('.chosen-select').chosen();
        $('#Dato').click(function(){

            if (!($('#articulosucursal').val() > 0)) {
                if ('add'=='{{ action }}'){
                    Swal.fire({
                        title: 'Información!',
                        icon: 'info',
                        text: 'Por favor elegir una Sucursal',
                        html:'{{ message }}',
                        showCloseButton: true,
                        confirmButtonColor: "#33ECFF",
                        confirmButtonText: 'OK',
                        imageWidth: 400,
                        imageHeight: 200,
                        imageAlt: 'Custom image',
                    });
                    return false;}
            }
            if (!($('#marca').val() >0)) {
                if ('add'=='{{ action }}'){
                    Swal.fire({
                        title: 'Información!',
                        icon: 'info',
                        text: 'Por favor elegir una Marca',
                        html:'{{ message }}',
                        showCloseButton: true,
                        confirmButtonColor: "#33ECFF",
                        confirmButtonText: 'OK',
                        imageWidth: 400,
                        imageHeight: 200,
                        imageAlt: 'Custom image',
                    });
                    return false;}
            }
            $("input").prop('disabled', false);
        });
        if ('ver'=='{{ action }}' || 'elim' =='{{ action }}'){
            $('input').prop("disabled", true);
        }
        $('.imagejs').on('change',function () {
            var rutaimg = $('.imagejs').val();
            var extension = rutaimg.substring(rutaimg.length - 3, rutaimg.length);
            if (extension.toLowerCase() === 'png' || extension.toLowerCase() === 'jpg'  || extension.toLowerCase() === 'peg') {
                $('.imagejs').fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
            }
            else{
                $(".imagejs").val('');
                Swal.fire({
                    title: 'Información!',
                    icon: 'info',
                    text: 'Por favor elegir una imagen',
                    html:'{{ message }}',
                    showCloseButton: true,
                    confirmButtonColor: "#33ECFF",
                    confirmButtonText: 'OK',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image',
                });
            }});
        $('#descuento').on('change',function () {
            var precio=0,iva=0
            precio=(parseFloat($("#subtotall").val())*(parseFloat($("#iva").val())/100)+parseFloat($("#subtotall").val()));
            precio=precio.toFixed(2)-(parseFloat($("#descuento").val())/100)*precio
            $("#precio").val(precio.toFixed(2));
            $("#precio").prop("disabled", true);
        });
        $('#iva').on('change',function () {
            var precio=0,iva=0
            precio=(parseFloat($("#subtotall").val())*(parseFloat($("#descuento").val())/100)+parseFloat($("#subtotall").val()));
            precio=precio.toFixed(2)-(parseFloat($("#descuento").val())/100)*precio
            $("#precio").val(precio.toFixed(2));
            $("#precio").prop("disabled", true);
        });
        $('#subtotall').on('change',function () {

            var cont=0
            var ca=$("#subtotall").val();
            var primero=ca.substring(0,1);
            for (var i=0;i<ca.length;i++) {
                cont = ("." != ca.substring(0,1))?0:null;
                if ("." == ca.substring(i,i+1) && "." != ca.substring(0,1)){ cont =+1;
                }
            }

            if (((cont !=1 && cont !=0) || primero =="." )){
                $("#subtotall").val('');
                Swal.fire({
                    title: 'Información!',
                    icon: 'info',
                    text: 'Por favor digitar número correcto',
                    html:'Por favor digitar número correcto',
                    showCloseButton: true,
                    confirmButtonColor: "#33ECFF",
                    confirmButtonText: 'OK',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image',
                });
            }else {
                var precio=0,iva=0
                precio=(parseFloat($("#subtotall").val())*(parseFloat($("#iva").val())/100)+parseFloat($("#subtotall").val()));
                var descuent =(parseFloat($("#descuento").val())/100)*precio;
                $("#precio").val(precio.toFixed(2)-(descuent.toFixed()));
                $("#precio").prop("disabled", true);
            }

        });

        {% if  articulo.status %}
            $("#status").prop("checked", true);
        {% endif %}

        $('#ivaaa').click(function(){
            if ( $('#precio').val()!='') {
                if($('#ivaaa').prop('checked') ) {
                    var valor=parseFloat($('#precio').val())*0.12+parseFloat($('#precio').val());
                    swal("Info!","Precio Total: $"+ Math.round(valor));
                }
            }
            else {
                $("#ivaaa").prop("checked", false);
                swal("Info!","Ingrese precio por unidad");

            }
        });

    </script>
{% endblock %}