{% extends 'ProjectBody/Body.html' %}
{% load static %}
{% block contenid %}

 <div class="row mt-4">
        <div class="col-12">
           <div class="col-lg-6">
                    <a style="border-radius: 0px" href="#" rel="action" data-json='{"action": "add","id":""}'
                       class="btn btn-success sbox">
                        <i class="fa fa-plus"></i>
                        Nuevo Registro
                    </a>
                </div>
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h5 class="mb-0">Marcas</h5>
                    <p class="text-sm mb-0">
                        Listado de Marcas
                    </p>
                </div>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-push" id="datatable-search">
                        <thead class="table-info">
                        <tr>
                            <th> <i class="fa fa-square" aria-hidden="true"> Nombre</i></th>
                            <th><i class="fa  fa-check-square-o">Estado</i></th>
                            <th> <i class="fa fa-cog" aria-hidden="true"> Acción</i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mar in marca %}
                            <tr>
                                <td class="text-sm font-weight-normal">{{ mar.nombre }}</td>
                                <td class="text-sm font-weight-normal">     {% if mar.status %}
                                                    <span class="badge  bg-gradient-success">Activo</span>
                                                {% else %}
                                                    <span class="badge  bg-gradient-danger">Inactivo</span>
                                                {% endif %}</td>
                                <td class="text-sm font-weight-normal">
                                    <br>
                                    <ul class="d-md-inline-flex list-inline">
                                        <li><a class="btn bg-gradient-info" href="#" rel="action" data-json='{"action":"edit","id":"{{ mar.id }}"}'><i class="fa fa-edit"></i> Editar</a></li> &nbsp;
                                        <li><a class="btn bg-gradient-danger" href="#modal" data-bs-toggle="modal" data-bs-target="#myModal" rel="action" data-json='{"action":"elim","id":"{{ mar.id }}"}'><i class="fa fa-trash-o"></i> Eliminar</a></li>
                                    </ul></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100"> <center>No existen registros</center></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frmodal %}
    <div class="modal face animated rotateIn" id="mdsucur"  role="dialog">
    </div>
{% endblock %}
{% block jscript %}      <script>
    $(function () {
            {% if messages %}
            {% endif %}
            {% for message in messages %}
                swal('Información!', '{{ message }}');
            {% endfor %}
            $('#contenedor').on('click', 'a[rel="action"]', function () {
                var data = $(this).data('json'),
                    action = data.action,
                    id = data.id;
                if (action == 'elim') {
                    var desc = $(this).parents('tr').children('td').eq(0).html();
                    $('#descripcion').html(desc);
                    $('#frmEliminar #id').val(id);

                    swal({
                      title: "Estas segura/o?",
                      text: "Una vez eliminado, no podrá recuperar este archivo!\n Nombre:"+desc,
                      icon: "warning",
                      buttons: true,
                      dangerMode: true,
                    })
                    .then((willDelete) => {
                      if (willDelete) {

                        window.location = '{{ ruta }}?action=' + action + '&id=' + id;

                      } else {
                        swal("Tu archivo está a salvo!");
                        return
                      }
                    });

                }else {
                window.location = '{{ ruta }}?action=' + action + '&id=' + id;
                }
            });
        });
    </script>

{% endblock %}